@font-face {
  font-family: 'minecraftiaregular';
  src: url('fonts/files/minecraftia-regular-webfont.eot');
  src: url('fonts/files/minecraftia-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/files/minecraftia-regular-webfont.woff2') format('woff2'),
    url('fonts/files/minecraftia-regular-webfont.woff') format('woff'),
    url('fonts/files/minecraftia-regular-webfont.ttf') format('truetype'),
    url('fonts/files/minecraftia-regular-webfont.svg#minecraftiaregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WebFontIcons';
  src: url('fonts/files/webfont-icons.eot?v=4.5.0');
  src: url('fonts/files/webfont-icons.eot?#iefix&v=4.5.0')
      format('embedded-opentype'),
    url('fonts/files/webfont-icons.woff?v=4.5.0') format('woff'),
    url('fonts/files/webfont-icons.ttf?v=4.5.0') format('truetype'),
    url('fonts/files/webfont-icons.svg?v=4.5.0#webfonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($icon-type) {
  display: inline-block;
  font: normal normal normal 14px/1 WebFontIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: $icon-type;
  }
}

$icon-twitter: '\61';
$icon-keybindings: '\62';
$icon-play: '\63';
$icon-duplicate: '\64';
$icon-eraser: '\65';
$icon-pause: '\66';
$icon-screen-full: '\67';
$icon-paint-brush: '\68';
$icon-move: '\69';
$icon-screen-normal: '\6a';
$icon-frames: '\6b';
$icon-columns: '\6c';
$icon-rows: '\6d';
$icon-bucket: '\6e';
$icon-eyedropper: '\6f';
$icon-undo: '\70';
$icon-redo: '\71';
$icon-download: '\72';
$icon-help: '\73';
$icon-trash: '\74';
