@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .w-120 { 
    width: 30rem; 
  }
  .bg-pink {
    background-color: rgb(254, 94, 174);
  }
  .hover-pink:hover {
    @apply ring-1 ring-pink-500
  }
  .hover-gray:hover {
    @apply ring-1 ring-gray-500
  }
  .square {
    padding-top: 100%;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  button:focus, input:focus {
    outline: none;
  }

  .pcr-button {
    display: none;
  }
  .pcr-app {
    z-index: inherit;
  }

  div[data-role='painting tools'] div.selected {
    @apply bg-gray-500
  }
  div[data-role='image type selection'] label {
    @apply border border-black
  }
  div[data-role='image type selection'] label.selected {
    @apply bg-black text-white
  }
  div[data-role='item submit'] * {
    @apply block mx-auto
  }
}