@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .w-120 { 
    width: 30rem; 
  }
  .text-xxs {
    font-size: 10px;
    -webkit-transform-origin: top left;
    -webkit-transform: scale(0.83);
  }
  .text-xxs-r {
    font-size: 10px;
    -webkit-transform-origin: top right;
    -webkit-transform: scale(0.83);
  }
  @font-face {
    font-family: Work Sans;
    font-weight: 400;
    src: url(../assets/fonts/WorkSans-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Work Sans;
    font-weight: 500;
    src: url(../assets/fonts/WorkSans-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: Work Sans;
    font-weight: 600;
    src: url(../assets/fonts/WorkSans-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: Work Sans;
    font-weight: 700;
    src: url(../assets/fonts/WorkSans-Bold.ttf) format("truetype");
  }
  .font-work {
    @apply font-sans;
    font-family: "Work Sans";
  }
}

@layer components {
  
  .bg-cb-pink {
    background-color: rgb(254, 94, 174);
  }
  .text-cb-pink {
    color: rgb(254, 94, 174);
  }
  .bg-cb-gray {
    background-color: rgb(252, 253, 254);
  }

  .square {
    padding-top: 100%;
  }

  /* Hover */
  .hover-pink:hover {
    @apply ring-1 ring-pink-500;
  }
  .hover-gray:hover {
    @apply ring-1 ring-gray-500;
  }

  /* Focus */
  button:focus, input:focus {
    outline: none;
  }

  /* Input spin */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  /* For custom components */
  .pcr-button {
    display: none;
  }
  .pcr-app {
    z-index: inherit;
  }

  div[data-role='painting tools'] div.selected {
    @apply bg-gray-500;
  }
  div[data-role='image type selection'] label {
    @apply border border-black;
  }
  div[data-role='image type selection'] label.selected {
    @apply bg-black text-white;
  }
  div[data-role='item submit'] * {
    @apply block mx-auto;
  }
}