@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .w-120 { 
    width: 30rem; 
  }
  .h-120 { 
    height: 30rem; 
  }
  .text-xxs {
    font-size: 10px;
    -webkit-transform-origin: top left;
    -webkit-transform: scale(0.83);
  }
  .text-xxs-r {
    font-size: 10px;
    -webkit-transform-origin: top right;
    -webkit-transform: scale(0.83);
  }
  .font-work {
    @apply font-sans;
    font-family: "Work Sans";
  }
}

@layer components {
  
  .bg-cb-pink {
    background-color: rgb(254, 94, 174);
  }  
  .bd-cb-pink {
    border-color: rgb(254, 94, 174);
  }
  .text-cb-pink {
    color: rgb(254, 94, 174);
  }
  .bg-cb-gray {
    background-color: rgb(252, 253, 254);
  }

  .square {
    padding-top: 100%;
  }

  /* Hover */
  .hover-pink:hover {
    @apply ring-1 ring-pink-500;
  }
  .hover-gray:hover {
    @apply ring-1 ring-gray-500;
  }

  /* Focus */
  button:focus, input:focus, select:focus {
    outline: none;
  }
  textarea {
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
  }

  /* Input remove default */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input[type='file'] {
    display: none;  /* wrapped in label */
  }

  /* Select remove default */
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center;
  }
  select::-ms-expand {
    display: none;
  }

  /* For custom components */
  .pcr-button {
    display: none;
  }
  .pcr-app {
    z-index: inherit;
  }

  div[data-role='painting tools'] div.selected {
    @apply bg-gray-200;
  }
  div[data-role='image type selection'] label {
    @apply border border-black;
  }
  div[data-role='image type selection'] label.selected {
    @apply bg-black text-white;
  }
  div[data-role='item submit'] * {
    @apply block mx-auto;
  }
  div[data-role='tabs at top'] button.selected {
    @apply border-b bd-cb-pink;
  }
  button[data-role='undo button']:hover {
    @apply border rounded border-gray-300;
  }
  button[data-role='redo button']:hover {
    @apply border rounded border-gray-300;
  }

  div[data-role='wallet modal'] button.wallet-tab {
    @apply w-full border border-gray-200 rounded-lg hover-pink h-12 text-left px-5 py-2.5 my-3 text-gray-300 hover:text-black flex items-center justify-between;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(254, 94, 174);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(254, 94, 174);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  div[data-role='footer social links'] svg {
    @apply w-full h-full;
  }
  div[data-role='footer social links'] svg:hover {
    fill: rgba(30, 162, 243, 1);
  }
}